.modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;

  &__small {
    max-width: 400px;
  }
}

.content {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 0.28rem;
  background: #fff;
  width: 100%;
}

.centered {
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .content {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    width: 88%;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    width: 850px;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 900px;
  }
}

@media only screen and (min-width: 1920px) {
  .content {
    width: 950px;
  }
}
