.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  padding: 0.5rem 0.7rem;

  &:hover {
    color: #1e70bf;
  }

  :first-child {
    margin-right: 0.5rem;
  }

  &__medium {
    padding: 0;
    & + & {
      margin-left: 5rem;
    }
  }
}
