@import 'src/styles/colors';
.title {
  color: $teal;
}

.form {
  margin-top: 1rem;

  & button {
    margin-left: 0.5rem;
  }
}

.status {
  margin-top: 1rem;

  &_text {
    margin-left: 0.5rem;
  }
}
