.form {
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 0.5rem;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  & button + button {
    margin-left: 0.5rem;
  }
}
.imageWrapper {
  margin-bottom: 10px;
}

.image {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.btnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.btnImgLabel {
  margin: 0 0 0 10px;
  cursor: pointer;
}
