.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form {
  margin-top: 1rem;

  & div + div {
    margin-top: 1rem;
  }

  & button {
    margin-left: 0.5rem;
  }
}
