.headerWrp {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: white;
  padding: 1em 2em 1em;
}

.userWrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.logoutBtn,
.logoutBtn:hover {
  border: none;
  box-shadow: none;
}

.menuBtn {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.status {
  color: rgba(black, 0.4);
  font-size: 0.85rem;
  margin-right: 0.5rem;
  word-break: break-all;
  max-width: 300px;
}

.user__info {
  display: flex;
  flex-direction: column;
  padding-left: 3.8rem;
  margin-top: -1.2rem;
}

.statusWrapper {
  display: flex;
}

.headerButton {
  background-color: transparent;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;

  & button + button {
    margin-left: 0.5rem;
  }
}

.inputHeader {
  margin-top: 0.5rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
}
