.card {
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-bottom: 1rem;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  .content {
    padding: 1rem;

    .meta {
      color: rgba(black, 0.4);
      margin-bottom: 0.5rem;
    }

    .description {
      color: rgba(black, 0.68);
      word-break: break-all;
    }
  }

  .extra {
    border-top: 1px solid rgba(black, 0.05);
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;

  & button + button {
    margin-left: 0.5rem;
  }
}

.count {
  margin-left: 0.5rem;
}
