.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .avatar {
    width: 2.5rem;
    height: auto;
  }

  .author {
    font-weight: bold;
    margin-right: 5px;
  }

  .date {
    color: rgba(black, 0.4);
    font-size: 0.85rem;
  }

  .status {
    color: rgba(black, 0.4);
    font-size: 0.85rem;
    font-weight: 700;
    display: block;
  }
}
.button {
  margin: 0.5rem 0;

  & button + button {
    margin-left: 0.5rem;
  }
}
.comment__text {
  word-break: break-all;
}

.extra {
  border-bottom: 1px solid rgba(black, 0.05);
  padding: 1rem;
  display: flex;
}

.count {
  margin-left: 0.5rem;
}

.wrapper {
  &:nth-child(n + 2) {
    margin-left: 1rem;
  }
}
.commentWrapper {
  margin-bottom: 1.5rem;
}
