.profile {
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;

  & button + button {
    margin-left: 0.5rem;
  }
}
.imageWrapper {
  margin-bottom: 10px;
}

.image {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.btnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.btnImgLabel {
  margin: 0 0 0 10px;
  cursor: pointer;
}

.canvas {
  display: flex;
  margin: 0 auto;
}
