.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;

  &:nth-child(2n) {
    margin-left: 5%;
  }

  &:nth-child(n + 3) {
    margin-top: 0%;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
  }
}
