.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  & li + li {
    margin-top: 1.5rem;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 auto;
}
