@import 'src/styles/colors';

@mixin spinner {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -0.65rem 0 0 -0.65rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  min-height: 1rem;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0.78rem 1.5rem;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28rem;

  &__teal {
    color: $white;
    background-color: $teal;
  }

  &__transparent {
    color: $gray;
    background-color: transparent;
  }

  &__red {
    color: $white;
    background-color: $red;
  }

  &__blue {
    color: $white;
    background-color: $blue;
  }

  &__small {
    padding: 0.4rem 0.75rem;
    line-height: 0.5rem;
    font-size: 10px;
  }

  &__medium {
    padding: 0.4rem 0.75rem;
    line-height: 0.5rem;
  }

  &.loading {
    position: relative;
    cursor: default;
    text-shadow: none;
    color: transparent;
    opacity: 1;

    &::before {
      @include spinner;
      border: 0.2rem solid rgba(0, 0, 0, 0.15);
    }

    &::after {
      @include spinner;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
      border-color: #ffffff transparent transparent;
      border-style: solid;
      border-width: 0.2rem;
      box-shadow: 0 0 0 1px transparent;
    }
  }
}

.fluid {
  width: 100%;
}

.basic {
  background: transparent none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  border-radius: 0.28rem;
  text-transform: none;
  text-shadow: none;
  box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
}

.primary {
  box-shadow: 0 0 0 1px $blue inset;
  color: #fff;
  background-color: $blue;
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
