.user__info {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.status {
  color: rgba(black, 0.4);
  font-size: 0.85rem;
  word-break: break-all;
}
